<p id="notice"><%= notice %></p>

<h1>Listing Ideas</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.name %></td>
        <td><%= idea.description %></td>
        <td><%= idea.picture %></td>
        <td><%= link_to '', idea, :class=>"glyphicon glyphicon-zoom-in" %></td>
        <td><%= link_to '', idea, :class=>"glyphicon glyphicon-pencil" %></td>
        <td><%= link_to '', idea, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"glyphicon glyphicon-remove" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>actualmente hay <%=Idea.count %> ideas activas</p>
<span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
<br>

<%= link_to 'New Idea', new_idea_path %>
